.login-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .red {
    background-color: firebrick;
    margin-left: 20px;
  }

  .buttons-wrapper {
    display: flex;
  }
}
